<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function (){
            $('#btnSignUp').click(function(){
                $.ajax({
                    url: '/signup',
                    data: $('form').serialize(),
                    type: 'GET',
                    success: function(response){
                        console.log(response);
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
            });
        });
    </script>
</head>
<body>
    <form id="signUpForm" action="/signup" method="post">
        <label>Name</label>
        <input type="text" name="name">

        <button type="submit" id="btnSignUp">Sign Up</button>
    </form>
</body>
</html>